* {
    box-sizing: border-box;
}

body {
    background-color: #3F94E7;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
}

.logo {
    height: 35px;
    margin: 25px 0;
}

.main-container {
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

label {
    align-self: flex-start;
    font-size: 18px;
}

input, button {
    width: 320px;
    border: 2px solid lightgray;
    padding: 15px;
    border-radius: 3px;
    margin: 10px 0;
}

button {
    background-color: #65C470;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

form a {
    text-decoration: none;
    color: gray;
}

.login {
    font-size: 18px;
    color: white;
}

.login a {
    color: white;
}
